.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 119px !important;
    letter-spacing: 5px;
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.listItem{
    padding: 5px;
}

.navbar-nav  li Link:hover {
    color: #1abc9c !important;
}
